.container-5{
    width: calc(100% - 10rem);
    margin: 120px auto 0 auto;
    border-radius: 3rem 50px  0 0;
    background-color: #19a5a115;
    padding: 0px 20px 0;
}

#gallery-footer{
    background-color: #fef2f6;
}
.footer-row{
    display: flex;  
}
.footer-row-2{
    display: flex;
    justify-content: space-between;  
}

.footer-newcol-1{
    margin-top: -20px;
    flex-basis: 50%;
}

.footer-newcol-2{
    margin-top: -20px;
    flex-basis: 50%;
}
.footer-col-1{
    flex: 2 1 50%;
    margin: 3% 5%;
    text-align: justify;
    padding: 0 5% 0 0
    
}

.footer-logo{
    margin: 25px 0 0 0;
}

.footer-text{
    font-size: 18px
}

#copyrights{
    margin-top: 30px;
    font-size:12px
}

.footer-col-2{
    flex: 1 1 25%;
    margin: 3% 5%;
}

.footer-col-3{
    flex: 1 1 25%;
    margin: 3% 5%;

}

.footer-heading{
    font-size: 20px; 
}

#header2{
    font-size: 20px; 
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 38px 0 0;
}

.footer-nav li a{
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
    color: black;
    text-align: left;
    
}

.footer-nav li a:hover{
    background: -webkit-linear-gradient(45deg, #19a5a1 0%, #63e8e4 50%, #19a5a1 100%);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#devbtn{
    margin: 38px 0 0 -30px;
    top: 18vh;
    right:15vw;
    width: 9vw;
    height: 45px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 18px;
    border-style: none;
    background: linear-gradient(45deg, #9341d4 0%, #d98efb 100%);
    color: rgb(255, 255, 255);
    transition: all .15s ease;
    background-size: 400% 400% !important;
    background-position: center bottom !important;
}

#devbtn:hover{
    background-position: center top !important;
    cursor: pointer;
}